
.material-icons{
    color: rgb(222, 236, 243);
}

button{
    background-color:rgb(1, 22, 90);
    color: rgb(222, 236, 243);
}

button:hover, .material-icons:hover{
    background-color: rgba(235, 233, 233, 0.918);
    color: rgb(1, 22, 90) !important;
}

h1{
    text-align: center;
    color: rgb(1, 22, 90);
    font-variant: small-caps;

}

.buttons_dialog{    
    text-align: center;
}

.mat-dialog-content, .mat-dialog-actions{
    text-align: center;
    align-content: center;
    
}

#item {
    font-weight: bold;
    font-size: 18px;
}

#titulo{
    font-size: 14px;
    color: #000000;
}

#info {
    font-weight: bold;
    font-size: 16px;
    color: rgb(1, 22, 90);

}
