<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span>Redial</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check voicemail</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
</mat-menu>


<!--Tarjeta-->
<mat-card class="card">
    <mat-card-header>
      <mat-card-title>
        <mat-icon>border_color</mat-icon>
      </mat-card-title>
      <mat-card-subtitle>Tarjeta</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="card-container">
      <!--Input-->
      <mat-form-field>
        <input matInput type="text" placeholder="Name" [(ngModel)]="name" required />
        <mat-error>Field required</mat-error>
        <button mat-button *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <!--Text area-->
      <mat-form-field hintLabel="Max 100 characters">
        <textarea matInput placeholder="Description" [(ngModel)]="description" maxlength="100"></textarea>
      </mat-form-field>
      <!--Date picker-->
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <!--Select-->
      <mat-form-field>
        <mat-select placeholder="Select" [(value)]="selected" [formControl]="animalControl" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let option of options" [value]="option.value"> {{ option.viewValue }}</mat-option>
        </mat-select>
        <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
      </mat-form-field>
      <!--slider-->
      <mat-slider [(ngModel)]="value"></mat-slider>
      <!--Accordion-->
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Personal data
            </mat-panel-title>
            <mat-panel-description>
              Type your name and age
            </mat-panel-description>
          </mat-expansion-panel-header>
  
          <mat-form-field>
            <input matInput placeholder="First name" [(ngModel)]="fistName">
          </mat-form-field>
  
          <mat-form-field>
            <input matInput placeholder="Age" [(ngModel)]="age">
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
      <!--checkbox-->
      <mat-checkbox [(ngModel)]="check">Check me!</mat-checkbox>
  
    </mat-card-content>
  </mat-card>
  
  <p><b>Selección: </b>{{name}},{{description}},{{date}},{{check}},{{selected}},{{value}},{{fistName}},{{age}}</p>