<h1 mat-dialog-title>API ITEMS</h1>
<mat-dialog-content>
  <h4>¿Qué es?</h4>
  <p>Es una aplicación que permite realizar las operaciones CRUD (crear, leer, modificar y eliminar) sobre diferentes items.</p>
  <br>
  <h4>¿Cómo se utiliza?</h4>
  <p>A través de los botones y seleccionando los diferentes items se pueden ejecutar todas las operaciones.</p>
</mat-dialog-content>
<mat-dialog-actions  fxLayout="row" fxFlexAlign="end">
  <button id="cerrar" mat-button mat-dialog-close fxFlex="100" cdkFocusInitial>Cerrar</button>
</mat-dialog-actions>