
h1{
    color: rgb(1, 22, 90);
    text-align: center;
}

hr{
    width: 60%;
    height: 0.4% !important;
    background-color: #000000 !important; 
    margin-top: 0.7% !important;
    margin-bottom: 0.7% !important;
    border-color: #000000 !important; 
    border-radius: 90%; 
}

#crear{
    text-align: center;
}

#mostrar{
    text-align: center;
}