.example-radio-group {
    display: inline-flex;
    flex-direction: column;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  .example-selected-value {
    margin: 15px 0;
  }
  
  #items{
    text-align: center;
  }

  #panel {
    width: 100%;
  }

  hr{
    width: 60%;
    height: 0.4% !important;
    margin-top: 2% !important;
    margin-bottom: 0.7% !important;
    border-color:rgb(1, 22, 90) !important; 
    border-radius: 90%; 
}

#name {
  color: rgb(1, 22, 90);
  font-weight: bold;
}

#desc {
  font-weight: normal;
  color: rgb(1, 22, 90);
}

#panel:hover {
  background-color: red;
}