
<eliminarItem-callDialog [itemId] = "itemId"></eliminarItem-callDialog>
<editarItem-callDialog [itemId] = "itemId"></editarItem-callDialog>
<verItem-callDialog [itemId] = "itemId"></verItem-callDialog>

<hr>

<div id="items">
    <mat-radio-group id ="radio" class="example-radio-group" [(ngModel)]="itemId"> 
        <mat-radio-button fxLayout="column" fxLayoutAlign="space-evenly none"  class="example-radio-button" *ngFor="let item of items" [value]="item.id">
            <div id="panel">
            <mat-accordion id="item">   
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            <label id="negrita">{{item.id}}.</label>
                        </mat-panel-title>
                        <mat-panel-description id = "name">
                            {{item.name}}
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                         <label id="desc"> {{item.description}}</label>
                    </mat-expansion-panel>
            </mat-accordion>
            </div>
        </mat-radio-button>
    </mat-radio-group>
</div>

